<p>Enrollment</p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>E-mail</mat-label>
    <textarea matInput placeholder="Ex. john.doe@mail.com"></textarea>
  </mat-form-field>
</form>
<div>
  <input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
  <button mat-button color="primary" (click)="fileInput.click()">Select picture</button>
  <button mat-button color="primary" (click)="onUpload()">Upload!</button>
</div>
<div>
  <img [src]="this.imgUrl">
</div>
